#root {
  width: 100%;
  /*text-align: center;*/
}

.landing-container {
  width: 100%;
  min-height: 100vh;   
  background-color: #ffffff; 
  color: #000000;     
  display: flex;
  flex-direction: column;
  align-items: center;   
}
.title-block {
  width: 100%;           
  padding-bottom: 20px;
  background-color: #004d40bd; 
  color: #121212;       
  margin-top: 0;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #ffffff; 
    font-family: 'Arial'; 
    font-size: 40px; 
    text-align: center; 
}
.tables-wrapper{
  border: 1px solid #d1d4eb;
  border-radius: 8px;        
  overflow: hidden;         
  box-shadow: 0 8px 15px rgba(212, 175, 55, 0.75);
  background-color: #ffffff;

}

.tables-wrapper table {
  width: 100%;           
  table-layout: auto;    
  border-collapse: collapse; 
}

.tables-grid {
  display: grid;
  gap: 35px;                 
  padding: 40px;
  width: 50%;
}

h2 {
    color: #091d1f;
    font-family: 'Palatino'; 
    font-size: 30px;
    text-align: center; 
    padding-bottom: 2px;
}

.tables-wrapper th {
  background-color: #8b8589; 
}

tbody {
  /*background-color: #ffffff;*/
    color: #091d1f;
    font-family: 'Arial'; 
    font-size: 18px;
    text-align: center; 
    margin-top: 0.5em;
}

table tbody tr:hover {
  background-color: #d0efeecf;
  cursor: pointer; 
  transition: background-color 0.2s ease-in-out;
  transform: scale(1.01); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.modal-content {
  color: #000000;
  line-height: 1.6;
}

.modal-content h2 {
  border-bottom: 2px solid #050202;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

