#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

h1 {
    color: #333333; /* Dark gray text color */
    font-family: 'Arial', sans-serif; /* Specify a font family */
    font-size: 48px; /* Set the font size in pixels */
    text-align: center; /* Center the text */
    text-decoration: underline; /* Add an underline */
    margin-top: 0.5em; /* Adjust top margin */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

